@import "@fontsource/nunito";
@import "tailwindcss";

@theme static {
    /* ALL ACCENT COLORS  */
    --color-accent1: #0c929c;
    --color-accent2: #ad631d;
    --color-accent3: #276cab;
    --color-accent4: #c4a03b;

    --color-theme: var(--color-accent1);
}

:root {
    font-family: "Nunito", sans-serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-theme);
    color: white;
}

a {
    text-decoration: none;
}

.active-theme-button {
    border: 1px solid black;
}
